
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

h2 {
    margin-bottom: 1.5rem;
    color: #333;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #666;
}

input[type="checkbox"], input[type="number"] {
    margin-right: 0.5rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 0.5rem;
    transition: border-color 0.3s ease;
}

input[type="checkbox"]:checked {
    border-color: #007bff;
}

.light-status {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}



input[type="number"] {
    width: 100px;
}

button {
    padding: 0.75rem 1.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
